BR2_ROOTFS_OVERLAY="$(BR2_EXTERNAL)/board/raspberrypi0w/overlay"
BR2_TARGET_GENERIC_HOSTNAME="ai"

BR2_PACKAGE_UEMACS=y

BR2_INIT_SYSV=y

# dhcp
BR2_PACKAGE_DHCP=y
BR2_PACKAGE_DHCP_SERVER=y

# Audio
BR2_PACKAGE_ALSA_UTILS=y
BR2_PACKAGE_ALSA_UTILS_ALSAMIXER=y
BR2_PACKAGE_ALSA_UTILS_AMIXER=y
BR2_PACKAGE_ALSA_UTILS_APLAY=y

BR2_PACKAGE_GTKIOSTREAM=y
